@page
@model stripboeken.Pages.CollectieAanpassen

<div class="container">
    <div class="row mt-2">
        <h1>Mijn collectie(s)</h1>
    
    </div>
</div>
 
        <div class="row">
        <div class="col">
            <div class="" style="width: 19rem;">
                
            </div>
        </div>
        </div>
    <div>
        <div class="row">
            <div class="col">
                <div class="" style="width: 19rem;">
                    
                </div>
            </div>
            <div class="col">
                <div style="position:relative; top:100px;">
                    <p>
                    <b>Collectie informatie</b> <br />
                    
                    Reeksnaam: 
                    <br>
                    Aantal stripboeken in bezit: 
                    <br>
                    Gemiddeld aantal bladzijden:
                    <br>
                    Gemiddeld gewicht: 
                    <br>
                    Gemiddeld hoogte: 
                    <br>
                    Gemiddeld dikte: 
                    <br>
                 
                    <p>
                        Wist je dat:
                    </p>
                    
                       
                   
                </div>
                <div class="align-content-center" style="position:relative; top:200px;">
                    <button type="button" class="btn btn-secondary btn-lg">Annuleren</button>
                    <button type="button" class="btn btn-secondary btn-lg">Opslaan</button>
                </div>
            </div>
        </div>
       
           
            </div>
        