@page
@model stripboeken.Pages.Comic
<div>
<div>
    <h1>Donald duck</h1>
    <p>Reeks 1 Boek 1</p>
</div>
    <div>
        <div class="row">
            <div class="col">
                <div class="" style="width: 19rem;">
                    <img class="" src="~/assets/stripboek.jpeg" alt="card d image cap">
                </div>
            </div>
            <div class="col">
                <div>
                    <p>
                        Beschrijving:
                        
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </p>
                </div>
                <div class="align-content-center">
                    <button type="button" class="btn btn-secondary btn-lg">Voeg toe aan collectie</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h2>
                        <b>Stripboek informatie:</b>
                    </h2>
                    <pre>
    Auteur: abc
    Illustrator: abc
    ISBN: abc
    Aantalblz: 20
    Dikte:
    Hoogte:
    Gewicht:
                    </pre>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="card mb-2" style="width: 9rem;">
                        <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Suske en wiske</p>
                        </div>
                    </div>
                    <div class="card mb-2" style="width: 9rem;">
                        <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Suske en wiske</p>
                        </div>
                    </div>
                    <div class="card mb-2" style="width: 9rem;">
                        <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Suske en wiske</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>