@page
@model PrivacyModel
@{
    ViewData["Title"] = "Mijn collectie";
}
<div>
        <section>
            <h1>
                    Mijn collectie
                </h1>
                <div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="card d image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-2" style="width: 13rem;">
                                <img class="card-img-top" src="~/assets/stripboek.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">Suske en wiske</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </section>
</div>