@page
@model stripboeken.Pages.StripboekAanpassen

<div class="container">
    <div class="row mt-2">
        <h1>Reeks:</h1>
    
    </div>
</div>
 
<div class="row">
    <div class="col">
        <div class="" style="width: 19rem;">
                
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col">
            <div class="" style="width: 19rem;">
                    
            </div>
        </div>
        <div class="col">
            <div style="position:relative; top:100px;">
                <p>
                <b>"Stripboek naam"</b> <br />
                    
                Auteur: 
                <br>
                Illustrator: 
                <br>
                ISBN:
                <br>
                Aantal bladzijden: 
                <br>
                Gewicht: 
                <br>
                Hoogte: 
                <br>
                Gewicht:
                <br>
                <p>
                    Wist je dat:
                </p>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="teKoop">
                <label class="custom-control-label" for="teKoop">Te koop</label>
                </div>
                    
                       
                   
            </div>
            <div class="align-content-center" style="position:relative; top:200px;">
                <button type="button" class="btn btn-secondary btn-lg">Annuleren</button>
                <button type="button" class="btn btn-secondary btn-lg">Opslaan</button>
            </div>
        </div>
    </div>
       
           
</div>