@page
@model stripboeken.Pages.UitgaveToevoegen

<div class="container">
    <div class="row mt-2">
        <h1>Nieuwe Uitgave</h1>
        
    </div>
    <br>
    <div>
        <div class="row">
           
            < class="col">
                <div>
                    <form>
                        <div class="form-group row">
                            <label for="inputISBN" class="col-sm-2 col-form-label">ISBN:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputISBN">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputIllustrator" class="col-sm-2 col-form-label">Illustrator:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputIllustrator">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAuteur" class="col-sm-2 col-form-label">Auteur:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAuteur">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputUitgeverij" class="col-sm-2 col-form-label">Uitgeverij:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUitgeverij">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputJaarVanUitgave" class="col-sm-2 col-form-label">Jaar van uitgave:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputJaarVanUitgave">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDruk" class="col-sm-2 col-form-label">Druk:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDruk">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTaal" class="col-sm-2 col-form-label">Taal:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTaal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAantalBladzijden" class="col-sm-2 col-form-label">Aantal Bladzijden:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputAantalBladzijden">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDikte" class="col-sm-2 col-form-label">Dikte:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputDikte">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputHoogte" class="col-sm-2 col-form-label">Hoogte:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputHoogte">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCoverMateriaal" class="col-sm-2 col-form-label">Cover materiaal:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCoverMateriaal">
                            </div>
                        
                        </div>
                        <div class="form-group row">
                            <label for="inputGewicht" class="col-sm-2 col-form-label">Gewicht in grammen:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputGewicht">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputBeschrijving" class="col-sm-2 col-form-label">Beschrijving:</label>
                            <textarea class="form-control" id="inputBeschrijving" rows="3"></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="inputWistJeDat" class="col-sm-2 col-form-label">Wist je dat:</label>
                            <textarea class="form-control" id="inputWistJeDat" rows="3"></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="inputAfbeelding" class="col-sm-2 col-form-label">Afbeelding uploaden:</label>
                            <input type="file" class=" form-control-file" id="inputAfbeelding">
                        </div>
                    <br>
                 
                    </form>
                    <div class="container">
                        <button type="button" class="btn btn-secondary btn-lg">Annuleren</button>
                            <button type="button" class="btn btn-secondary btn-lg">Opslaan</button>
                        </div>
                    </div>
                
                </div>
            </div>
       </div>
       
    
    